@model IEnumerable<SecretPlaces.Models.Review>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Recommended Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recommended Places</h2>

<div class="row">
    <div class="col-lg-8">
        @foreach (var item in Model)
        {
            <section>
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <i class="glyphicon glyphicon-user"></i> <strong style="color: #385898;">@Html.DisplayFor(modelItem => item.UploaderUsername)</strong>
                <p>
                    <span class="glyphicon glyphicon-globe"></span> <strong>@Html.DisplayFor(modelItem => item.Place.Name)</strong>
                </p>
                <p class="small">
                    <span class="glyphicon glyphicon-calendar"></span> Posted on @Html.DisplayFor(modelItem => item.PublishDate)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
                <p>
                    @if (item.UploaderUsername != null && item.UploaderUsername.Equals(UserManager.GetUserName(User)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </p>
				<hr>
            </section>
            <div style="margin-left: 20px;">
            @foreach (var comment in item.Comments)
            {
                <section style="background-color: #f2f3f5; border-radius: 5px; margin-bottom: 5px; padding: 5px;">
                    <p>
                        <span class="glyphicon glyphicon-user"></span>
                        <span style="color: #385898;"> @Html.DisplayFor(modelItem => comment.UploaderUsername)</span>
                        <br />
                        <small>@Html.DisplayFor(modelItem => comment.CreationDate)</small>
                    </p>
                    <p>@Html.DisplayFor(modelItem => comment.Content)</p>

                    @if (comment.UploaderUsername != null && comment.UploaderUsername.Equals(UserManager.GetUserName(User)))
                    {
                        @using (Html.BeginForm("DeleteComment", "Reviews"))
                        {
                            <input type="hidden" name="id" value="@comment.ID" />
                            <button type="submit" class="btn btn-light btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                        }
                    }
                </section>
            }
			@if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);

                if (user != null)
                {
                    <div class="row" style="margin: 0px;">
                        <div class="well well-sm col-md-6">
                            @using (Html.BeginForm("PostComment", "Reviews"))
                            {
                                <input type="hidden" name="reviewId" value="@item.ID" />
                                <div class="form-group">
                                    <textarea name="content" placeholder="Leave a Comment" class="form-control" rows="2"></textarea>
                                </div>
                                <button type="submit" value="post" class="btn btn-info">Post</button>
                            }
                        </div>
                    </div>
                }
            }
			</div>

            <br />
        }
    </div>
</div>

<script>
    window.onload = function () {
        $("#PlacesList").prop("selectedIndex", -1);
    };
</script>